pandas
pyodbc
requests
python-dotenv
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
holidays
schedule
sqlalchemy
resend
psycopg2-binary
Jinja2
Flask
fastapi
uvicorn[standard]
httpx
python-multipart
