pandas
pyodbc
requests
python-dotenv
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
holidays
schedule
sqlalchemy
resend
psycopg2-binary
Jinja2
fastapi
uvicorn[standard]
httpx
python-multipart
bcrypt
weasyprint
PyPDF2
img2pdf
itsdangerous
