<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- <link type="text/css" rel="stylesheet" href="/statsic/css/sheet.css" > -->
<style type="text/css">
.ritz .waffle a { color: inherit; }
.ritz .waffle .s53{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#f4b083;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:11pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s23{border-bottom:1px SOLID transparent;background-color:#ffffff;text-align:right;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s51{border-right:1px SOLID transparent;background-color:#ffffff;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:11pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s7{background-color:#ffffff;text-align:center;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s11{border-left:none;background-color:#ffffff;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s41{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#c5e0b3;text-align:right;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s67{background-color:#ffffff;text-align:left;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:normal;overflow:hidden;word-wrap:break-word;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s12{border-left:none;background-color:#ffffff;text-align:left;font-weight:bold;text-decoration:underline;text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;color:#000000;font-family:docs-Calibri,Arial;font-size:16pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s19{background-color:#ffffff;text-align:center;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:top;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s21{border-right:1px SOLID transparent;background-color:#ffffff;text-align:right;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s37{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#f4b083;text-align:left;font-style:italic;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s52{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#f4b083;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:9pt;vertical-align:middle;white-space:normal;overflow:hidden;word-wrap:break-word;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s4{border-right:none;background-color:#ffffff;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s31{border-right:1px SOLID transparent;background-color:#ffffff;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:11pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s28{border-bottom:1px SOLID transparent;background-color:#ffffff;text-align:center;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;width:70px;}
.ritz .waffle .s42{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#b4c6e7;text-align:center;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s66{border-left:none;background-color:#ffffff;text-align:right;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s49{border-bottom:1px SOLID transparent;border-right:1px SOLID transparent;background-color:#ffd965;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s26{border-bottom:1px SOLID transparent;background-color:#ffffff;text-align:left;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s5{border-left:none;background-color:#ffffff;text-align:right;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s32{border-bottom:1px SOLID transparent;border-right:1px SOLID transparent;background-color:#2f5496;text-align:center;font-weight:bold;color:#ffffff;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s6{border-left:none;border-bottom:1px SOLID transparent;background-color:#ffc000;text-align:left;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s15{border-right:none;background-color:#ffffff;text-align:right;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s27{border-bottom:1px SOLID transparent;background-color:#ffffff;text-align:center;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s36{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#f4b083;text-align:center;font-style:italic;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s2{background-color:#ffffff;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s25{border-bottom:1px SOLID transparent;background-color:#ffffff;text-align:right;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s40{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#f4b083;text-align:left;font-style:italic;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s16{border-left:none;border-bottom:1px SOLID transparent;background-color:#ffffff;text-align:left;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s46{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#ffd965;text-align:center;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s10{border-left:none;border-right:none;background-color:#ffffff;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s47{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#ffd965;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s8{background-color:#ffffff;text-align:left;font-weight:bold;text-decoration:underline;text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;color:#000000;font-family:docs-Calibri,Arial;font-size:16pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s22{border-bottom:1px SOLID transparent;border-right:1px SOLID transparent;background-color:#b4c6e7;text-align:left;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s14{border-right:none;background-color:#ffffff;text-align:center;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s29{border-bottom:1px SOLID transparent;background-color:#ffffff;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s48{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#ffd965;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s13{background-color:#ffffff;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:11pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s24{border-bottom:1px SOLID transparent;border-right:1px SOLID transparent;background-color:#ffffff;text-align:right;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s39{border-right:3px DOUBLE transparent;background-color:#f4b083;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:normal;overflow:hidden;word-wrap:break-word;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s18{background-color:#ffffff;text-align:left;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:top;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s34{border-right:1px SOLID transparent;background-color:#ffffff;}
.ritz .waffle .s35{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#f4b083;text-align:right;font-style:italic;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s38{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#f4b083;text-align:left;font-style:italic;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:normal;word-wrap:break-word;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s3{background-color:#ffffff;text-align:center;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s17{background-color:#ffffff;text-align:left;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s43{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#ffc000;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s0{background-color:#ffffff;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s33{border-bottom:1px SOLID transparent;border-right:1px SOLID transparent;background-color:#2f5496;text-align:center;font-weight:bold;color:#ffffff;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:normal;overflow:hidden;word-wrap:break-word;direction:ltr;padding:0px 3px 0px 3px;width:70px;}
.ritz .waffle .s1{background-color:#ffffff;text-align:center;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s30{border-bottom:1px SOLID transparent;background-color:#ffffff;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s54{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#f4b083;text-align:center;color:#000000;font-family:docs-Calibri,Arial;font-size:11pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s44{border-bottom:1px SOLID transparent;border-right:3px DOUBLE transparent;background-color:#ffc000;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:normal;word-wrap:break-word;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s20{background-color:#ffffff;text-align:right;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s45{border-right:3px DOUBLE transparent;background-color:#b4c6e7;text-align:left;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:normal;overflow:hidden;word-wrap:break-word;direction:ltr;padding:0px 3px 0px 3px;}
.ritz .waffle .s9{border-left:none;border-right:none;background-color:#ffffff;text-align:left;font-weight:bold;color:#000000;font-family:docs-Calibri,Arial;font-size:10pt;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0px 3px 0px 3px;}
.data-table-section td:not(:first-child), .data-table-section th:not(:first-child) { border: 1px solid #000000 !important; }
.data-table-section td:first-child, .data-table-section th:first-child { border: none !important; }
.data-table-section td:nth-child(7), .data-table-section th:nth-child(7),
.data-table-section td:nth-child(8), .data-table-section th:nth-child(8),
.data-table-section td:nth-child(9), .data-table-section th:nth-child(9),
.data-table-section td:nth-child(10), .data-table-section th:nth-child(10),
.data-table-section td:nth-child(11), .data-table-section th:nth-child(11),
.data-table-section td:nth-child(12), .data-table-section th:nth-child(12),
.data-table-section td:nth-child(13), .data-table-section th:nth-child(13) {
    width: 70px !important;
    min-width: 70px !important;
    max-width: 70px !important;
}

/* Set table width */
.ritz .waffle {
    width: 100% !important;
}

/* Center align No. column (column 2) and Remarks column (column 14) both horizontally and vertically */
.data-table-section td:nth-child(2),
.data-table-section th:nth-child(2),
.data-table-section td:nth-child(14),
.data-table-section th:nth-child(14) {
    text-align: center !important;
    vertical-align: middle !important;
}

/* Resize timesheet to better fill A4 */
.ritz.grid-container {
    transform: scale(0.58);
    transform-origin: top left;
    width: 172%;
}
</style>

{% for report in reports %}
<div class="ritz grid-container" dir="ltr" style="page-break-after: always;">
<table class="waffle" cellspacing="0" cellpadding="0" style="table-layout: fixed; width: 100%;">
<colgroup>
<col style="width: 25px;">  <!-- Column A -->
<col style="width: 70px;">  <!-- Column B - No. column -->
<col style="width: 140px;"> <!-- Column C - wider for dates -->
<col style="width: 130px;"> <!-- Column D - Activity -->
<col style="width: 350px;"> <!-- Column E - Project Name (increased) -->
<col style="width: 400px;"> <!-- Column F - Work Description (increased) -->
<col style="width: 80px;">  <!-- Column G - Start Time -->
<col style="width: 80px;">  <!-- Column H - End Time -->
<col style="width: 80px;">  <!-- Column I - Break Hours -->
<col style="width: 80px;">  <!-- Column J - Total Hours -->
<col style="width: 80px;">  <!-- Column K - Overtime Hours -->
<col style="width: 80px;">  <!-- Column L - Regular Hours -->
<col style="width: 80px;">  <!-- Column M - Is Holiday -->
<col style="width: 150px;"> <!-- Column N - Remarks -->
<col style="width: 80px;">  <!-- Column O - TTD -->
<col style="width: 25px;">  <!-- Column P - Space -->
</colgroup>
<tbody>
<tr style="height: 18px">
<td class="s0" rowspan="4"><img src="/admin/static/img/logo_celerates.jpg" alt="Celerates" style="height: 60px; width: auto;"></td>
<td class="s1"></td>
<td class="s1"></td>
<td class="s2"></td>
<td class="s2"></td>
<td class="s0"></td>
<td class="s0"></td>
<!-- <td class="s3"></td> -->
<!-- <td class="s4"></td> -->
<td class="s5">SELECT NAME :</td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s6" dir="ltr" colspan="2">{{ report.nama }}</td>
<td class="s0"></td>
<td class="s2"></td>
<td class="s0"></td>
</tr>
<tr style="height: 18px">
<td class="s0"></td>
<td class="s1"></td>
<td class="s1"></td>
<!-- <td class="s7"></td> -->
<td class="s8">EMPLOYEE ACTIVITY REPORT &amp; TIMESHEET</td>
<td class="s0"></td>
<td class="s0"></td>
<!-- <td class="s4"></td> -->
<td class="s5">TALENT ID. :</td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s9" colspan="2">{{ report.employee_id }}</td>
<td class="s10"></td>
<td class="s11"></td>
<td class="s12"></td>
<td class="s0"></td>
</tr>
<tr style="height: 18px">
<td class="s0"></td>
<td class="s1"></td>
<td class="s1"></td>
<td class="s2"></td>
<td class="s13"></td>
<td class="s0"></td>
<!-- <td class="s0"></td> -->
<!-- <td class="s4"></td> -->
<td class="s5">SUPERVISOR/REP-MGR :</td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s9"colspan="2">Riza Wahyu Syah R</td>
<td class="s11"></td>
<td class="s11"></td>
<td class="s2"></td>
<td class="s0"></td>
</tr>
<tr style="height: 18px">
<td class="s0"></td>
<td class="s5">REPORTING PERIOD :</td>
<td class="s16"></td>
<td class="s17"></td>
<td class="s0"></td>
<td class="s18"></td>
<td class="s19"></td>
<td class="s20"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s2"></td>
<td class="s0"></td>
</tr>
<tr style="height: 18px">
<td class="s0"></td>
<td class="s0"></td>
<td class="s21">Start Date</td>
<td class="s22" dir="ltr">{{ report.start_date }}</td>
<td class="s17"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s1"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s2"></td>
<td class="s0"></td>
</tr>
<tr style="height: 18px">
<td class="s0"></td>
<td class="s23">`</td>
<td class="s24">End Date</td>
<td class="s22" dir="ltr">{{ report.end_date }}</td>
<td class="s25"></td>
<td class="s26"></td>
<td class="s27"></td>
<td class="s28">Total :</td>
<td class="s28">{{ report.total_break_hours }}</td>
<td class="s28">{{ report.total_hours }}</td>
<td class="s28">{{ report.total_overtime_hours }}</td>
<td class="s28">{{ report.total_regular_hours }}</td>
<td class="s28"></td>
<td class="s29"></td>
<td class="s30"></td>
</tr>
<tr style="height: 18px" class="data-table-section">
<td class="s31"></td>
<td class="s32">No</td>
<td class="s33">Date<br>MM/DD/YYYY</td>
<td class="s32">Activity</td>
<td class="s32">Project Name</td>
<td class="s32" dir="ltr">Work Description</td>
<td class="s33">Start Time<br>(HH:MM)</td>
<td class="s33">End Time<br>(HH:MM)</td>
<td class="s33">Break Hours</td>
<td class="s33">Total Hours</td>
<td class="s33">Over Time <br>Hours</td>
<td class="s33">Regular Hours</td>
<td class="s33">Is <br>Holiday?</td>
<td class="s32">Remarks</td>
<td class="s32">TTD</td>
</tr>

{% for row in report.timesheet_rows %}
<tr style="height: 19px" class="data-table-section">
<td class="s34"></td>
<td class="{% if row['Is Holiday'] == 'H' %}s35{% else %}s41{% endif %}" dir="ltr">{{ loop.index }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s36{% else %}s42{% endif %}" dir="ltr">{{ row['Date'] }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s37{% else %}s43{% endif %}" dir="ltr">{{ row['Activity'] }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s38{% else %}s44{% endif %}" dir="ltr">{{ row['Project Name'] }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s39{% else %}s45{% endif %}" dir="ltr">{{ row['Work Description'] }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s36{% else %}s42{% endif %}" dir="ltr">{{ row['Start Time'] }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s36{% else %}s42{% endif %}" dir="ltr">{{ row['End Time'] }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s36{% else %}s42{% endif %}" dir="ltr">{{ row['Break Hours'] }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s36{% else %}s46{% endif %}" dir="ltr">{{ row['Total Hours'] }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s36{% else %}s46{% endif %}" dir="ltr">{{ row['Over Time Hours'] }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s36{% else %}s46{% endif %}" dir="ltr">{{ row['Regular Hours'] }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s36{% else %}s46{% endif %}">{{ row['Is Holiday'] }}</td>
<td class="{% if row['Is Holiday'] == 'H' %}s37{% else %}s47{% endif %}" dir="ltr">{{ row['Remarks'] }}</td>
<td class="{% if row['IsManualEdit'] %}s49{% else %}s48{% endif %}"></td>
</tr>
{% endfor %}

<tr style="height: 19px" class="data-table-section">
<td class="s34"></td>
<td class="s33"></td>
<td class="s33"></td>
<td class="s33"></td>
<td class="s33"></td>
<td class="s33"></td>
<td class="s33"></td>
<td class="s33"></td>
<td class="s33">{{ report.total_break_hours }}</td>
<td class="s33">{{ report.total_hours }}</td>
<td class="s33">{{ report.total_overtime_hours }}</td>
<td class="s33">{{ report.total_regular_hours }}</td>
<td class="s33"></td>
<td class="s33"></td>
<td class="s33"></td>
</tr>

<tr style="height: 18px">
<td class="s0"></td>
<td class="s0"></td>
<td class="s17" colspan="2">ACTIVITY REPORT SUMMARY</td>
<td class="s0"></td>
<td class="s17" style="text-align: left;">Overtime Hours Details</td>
<td class="s0"></td>
<td class="s0"></td>
<!-- <td class="s0"></td> -->
<td class="s0"></td>
<td class="s0" style="border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000; text-align: center; font-weight: bold; padding: 5px;" colspan="2">Date</td>
<td class="s0" style="border-top: 1px solid #000; border-right: 1px solid #000; text-align: center; font-weight: bold; padding: 5px;" colspan="3">Client Approval</td>
<td class="s0"></td>
</tr>
<tr style="height: 18px">
<td class="s0"></td>
<td class="s0"></td>
<td class="s17">Total working hours</td>
<td class="s17" style="text-align: left;">: 00 Hours</td>
<td class="s0"></td>

<td class="s17" style="text-align: left;">OT in Working days :</td>
<td class="s17" style="text-align: left;"">0.00</td>
<td class="s0"></td>
<!-- <td class="s0"></td> -->
<td class="s0"></td>
<td class="s0" style="border-left: 1px solid #000; border-right: 1px solid #000; vertical-align: top;" colspan="2" rowspan="6"></td>
<td class="s0" style="border-right: 1px solid #000; vertical-align: top;" colspan="3" rowspan="6"></td>
<td class="s0"></td>
</tr>
<tr style="height: 18px">
<td class="s0"></td>
<td class="s0"></td>
<td class="s17">Regular hours</td>
<td class="s17" style="text-align: right;">: 00 -> equal to 00 days</td>
<td class="s0"></td>
<td class="s17" style="text-align: left;">OT in Weekend (Sat, Sun):</td>
<td class="s0"></td>
<!-- <td class="s0"></td> -->
<td class="s0"></td>
<td class="s0"></td>
</tr>
<tr style="height: 18px">
<td class="s0"></td>
<td class="s0"></td>
<td class="s17">Overtime hours</td>
<td class="s17" style="text-align: right;">: 00 -> (Approval required)</td>
<td class="s0"></td>
<td class="s17" style="text-align: left;">OT in National Holidays:</td>
<td class="s0"></td>
<!-- <td class="s0"></td> -->
<td class="s0"></td>
<td class="s0"></td>
</tr>
<tr style="height: 18px">
<td class="s0"></td>
<td class="s0"></td>
<td class="s17">Productivity</td>
<td class="s17" style="text-align: right;">: 00% -> 1 Regular Hour/ (22*8)</td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
</tr>
<tr style="height: 20px">
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
</tr>
<tr style="height: 30px">
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
</tr>
<tr style="height: 30px">
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0"></td>
<td class="s0" style="border-left: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #000; text-align: center; vertical-align: middle; padding: 5px;" colspan="2">&nbsp;</td>
<td class="s0" style="border-left: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #000; text-align: center; vertical-align: middle; padding: 5px;" colspan="3">(________________________________)</td>
<td class="s0"></td>
</tr>

</tbody>
</table>
</div>
{% endfor %}